<!--This is a picture gallery page for the animals that can be adopted-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/petPicsGallery.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/menu.css">
    <style>
        .pet.highlight {
            color: rgb(247, 11, 11);
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <div class="header_bar">
            <nav>
                <div class="drop_container">
                    <div class="drop_home"><img src="../img/peticon.png" height=50px width=50px /></div>
                    <div class="menu_items">
                        <a href="../index.html">Home</a>
                        <a href="./petPicsGallery.html">Pet Pics</a>
                        <a href="./adoptionApplication.html">Adoption Application</a>
                    </div>
                </div>	
            </nav>
            <div style="width: 100%; text-align: center;"><h1>Pet Adoption</h1></div>
        </div>
    </header>
    <div class="main_container">
        <h1>Pet Shop</h1>
        <div class="grid_wrapper">
            <!--Creating a 4 row grid-->
            <div class="pet"><img src="../img/dogs.jpeg" height=100 /><br />Dogs</div>
            <div class="pet"><img src="../img/cats.jpeg" height=100 /><br />Cats</div>
            <div class="pet"><img src="../img/birds.jpeg" height=100 /><br />Birds</div>
            <div class="pet"><img src="../img/lizards.jpeg" height=100 /><br />Lizards</div>
            <div class="pet"><img src="../img/fish.jpeg" height=100 /><br />Fish</div>
            <div class="pet"><img src="../img/marsupials.jpeg" height=100 /><br />Marsupuals</div>
            <div class="pet"><img src="../img/insects.jpeg" height=100 /><br />Insects</div>
            <div class="pet"><img src="../img/arachnids.jpeg" height=100 /><br />Arachnids</div>
            <div class="pet"><img src="../img/gerbils.jpeg" height=100 /><br />Gerbils</div>
            <div class="pet"><img src="../img/hamsters.jpeg" height=100 /><br />Hamsters</div>
            <div class="pet"><img src="../img/hedgehogs.jpeg" height=100 /><br />Hedgehogs</div>
            <div class="pet"><img src="../img/enchidas.jpeg" height=100 /><br />Echidnas</div>
            <div class="pet"><img src="../img/ferrets.jpeg" height=100 /><br />Ferrets</div>
            <div class="pet"><img src="../img/mice.jpeg" height=100 /><br />Mice</div>
            <div class="pet"><img src="../img/dolphins.jpeg" height=100 /><br />Dolphins</div>
            <div class="pet"><img src="../img/cars.jpeg" height=100 /><br />Exotic</div>
        </div>
    </div>	
    <footer>
        <span>Copyright &copy; 2022</span>
    </footer>
</html>